<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uptime Tracker</title>
</head>
<body>
    {% if user %}
        <p>User: {{ user }}</p>
        <a href="/logout">Выйти</a>

        <p>Data:</p>
        {% for el in data %}
            <li>
                {{ el }}
                <a href="{{ '/delete/%s' % el[0][0] }}">Удалить</a>
            </li>
        {% endfor %}

        <p>Добавление записи:</p>
        <form action="/create" method="post">
            <input type="text" name="siteaddr">
            <input type="submit" value="Сохранить">
        </form>
    {% else %}
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
        <p>Пожалуйста, войдите или зарегистрируйте аккаунт для отслеживания статистики сайтов.</p>
        <a href="/login">Войти</a>
        <a href="/register">Зарегистрироваться</a>
    {% endif %}
</body>
</html>