<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uptime Tracker</title>
</head>
<body>
    {% if user %}
        <p>User: {{ user }}</p>
        <p>Data:</p>
        {% for el in data %}
            <li>
                {{ el }}
                <a href="{{ '/delete/%s'%el[0][0] }}">Удалить</a>
            </li>
        {% endfor %}

        <a href="/logout">Выйти</a>
    {% else %}
        <a href="/login">Войти</a>
    {% endif %}

    <p>Добавление записи:</p>
    <form action="/create" method="post">
        <input type="text" name="siteaddr">
        <!-- <input type="text" name="sitedesc"> -->
        <input type="submit" value="Сохранить">
    </form>
</body>
</html>